<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-gerenciar-rifa.css">
    <title>Login - SFC</title>
</head>
<body>
<div>
    <header>
        <!-- Cabeçalho com link de Início -->
        <a href="/index" class="inicio-button">Início</a>
    </header>

    <div class="menu-lateral">
        <!-- Conteúdo do menu lateral aqui -->
        <div class="logo">
            <a href="#"><img src="/images/logo.png" alt="Logo"></a>
        </div>

        <br>
        <br>
        <br>
        <br>
        <a href="#">CRIAR</a>
        <hr>
        <br>
        <br>
        <a href="#">PESQUISAR</a>
        <hr>
        <br>
        <br>
        <a href="#">ALTERAR</a>
        <hr>
        <br>
        <br>
        <a href="#">EXCLUIR</a>
        <hr>
    </div>
    <div class="conteudo-central">
        <!-- Conteúdo da área central aqui -->
        <form class="cadastrar-rifa-form" action="/cadastrar-rifa" method="post">

        </form>

    </div>


</div>
</body>
</html>