<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-gerenciar-rifa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Administrar - SFC</title>
</head>
<body>
<div>
    <header>
        <!-- Cabeçalho com link de Início -->
        <a href="/index" class="inicio-button">Início</a>
    </header>

    <div class="menu-lateral">
        <!-- Conteúdo do menu lateral aqui -->
        <div class="logo">
            <a href="#"><img src="/images/logo.png" alt="Logo"></a>
        </div>

        <br>
        <br>
        <br>
        <br>
        <a th:href="@{/criarRifa}" id="create-button">CRIAR</a>
        <hr>
        <br>
        <br>
        <a th:href="@{/listarRifa}" id="search-button">LISTAR</a>
        <hr>
    </div>
    <div class="conteudo-central">

    </div>
</div>
</script>
</body>
</html>
