<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Página de Rifa</title>
</head>
<body>
<header class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="#"><img src="/images/logo.png" alt="Logo"></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Rifas</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
        <div class="search">
            <input type="text" placeholder="Buscar">
            <button class="text-xs font-medium sm:text-base flex-none border bg-white max-w-max border-Black-100 rounded-lg px-3 py-1"> 🔎 Buscar bilhetes </button>
        </div>
    </nav>
</header>

<!-- Conteúdo principal -->
<div class="main-section">

    <div class="left-column">
        <p class="rifa-title">Descrição da Rifa</p>

        <div class="prize-rectangle">
            <div class="prize-image">
                <img src="/images/premio.png" alt="Prêmio">
            </div>
        </div>
    </div>


        <div class="right-column">
            <!-- Três retângulos para informações -->
            <div class="info-rectangle-1">
                <p>Informação 1</p>
            </div>

            <div class="info-rectangle-2">
                <p>Informação 2</p>
            </div>

            <div class="info-rectangle-3">
                <p>Informação 3</p>
            </div>
        </div>


</div>

</body>
</html>
