<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Página de Rifa</title>
</head>
<body>
<header class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="#"><img src="/images/logo.png" alt="Logo"></a>
        </div>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="#proposta">Proposta</a></li>
                    <li><a href="#recompensas">Recompensa</a></li>
                    <li><a href="#sustentabilidade">Sustentabilidade</a></li>
                    <li><a href="rifa">Rifas</a></li>
                </ul>
            </nav>
        </div>

        <div class="login">
            <a href="/login">Login</a>
        </div>
    </nav>
</header>


<section id="proposta">
    <!-- Conteúdo da seção Funcionalidades -->
    <div class="informacoes-iniciais-1">
    <p><b>Energia sustentável para a terceira idade</b></p>
    <p>Este projeto visa proporcionar a instalação de energia solar aos idosos do município de Modelândia/SP.</p>
    <p>Inicialmente, serão construídas 10 casas com tecnologia adaptada e com energia solar.</p>
    <p>Você poderá contribuir participando dos sorteios e ajudar o desenvolvimento da população local.</p>
    </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section id="recompensas">
    <div class="informacoes-iniciais-2">
    <!-- Conteúdo da seção Quem Somos -->
    <p><b>Recompensas</b></p>
        <p>No total serão sorteados 10 celulares iphone 14, no valor de R$: 5000,00, onde você poderá ser um dos ganhadores.</p>
    </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section id="sustentabilidade">
    <div class="informacoes-iniciais-1">
    <!-- Conteúdo da seção Perguntas frequentes -->
    <p><b>Projeto Sustentável</b></p>
    <p>A energia solar é uma fonte limpa e renovável de energia que contribui para a sustentabilidade ambiental, reduzindo as emissões de carbono e diminuindo a dependência de combustíveis fósseis. Além disso, a energia solar é uma solução econômica a longo prazo, com benefícios tanto para o meio ambiente quanto para as finanças pessoais.</p>

    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="footer">
    <p>&copy; 2023 - Sistema de Financiamento Coletivo - Todos os direitos reservados</p>
</div>
</body>
</html>