<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Página de Rifa</title>
</head>
<body>
<header class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="#"><img src="/images/logo.png" alt="Logo"></a>
        </div>
        <div class="menu">
            <a href="index">Início</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Digite o número do celular">
            <button class="text-xs font-medium sm:text-base flex-none border bg-white max-w-max border-Black-100 rounded-lg px-3 py-1"> 🔎 Buscar bilhetes </button>
        </div>
    </nav>
</header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form id="form-checkout" action="/process_payment" method="post">
    <div>
        <input type="hidden" name="id_rifa" id="id_rifa_hidden" value="">
        <input type="hidden" name="numeros" id="numeros_hidden" value="">
        <div>
            <label for="payerFirstName">Nome</label>
            <input id="form-checkout__payerFirstName" name="payerFirstName" type="text">
        </div>
        <div>
            <label for="payerLastName">Sobrenome</label>
            <input id="form-checkout__payerLastName" name="payerLastName" type="text">
        </div>
        <div>
            <label for="email">E-mail</label>
            <input id="form-checkout__email" name="email" type="text">
        </div>
        <div>
            <label for="telefone">Telefone</label>
            <input id="form-checkout__telefone" name="telefone" type="text">
        </div>
        <div>
            <label for="identificationType">Tipo de documento</label>
            <select id="form-checkout__identificationType" name="identificationType" type="text"></select>
        </div>
        <div>
            <label for="identificationNumber">Número do documento</label>
            <input id="form-checkout__identificationNumber" name="identificationNumber" type="text">
        </div>
    </div>

    <div>
        <div>
            <input type="hidden" name="transactionAmount" id="transactionAmount" value="100">
            <input type="hidden" name="description" id="description" value="Nome do Produto">
            <br>
            <button id="btnPagar" type="submit" style="display: none;">Pagar</button>
        </div>
    </div>
</form>

<div id="id-rifa-display">aqui</div>
<div id="numeros-selecionados-display">aqui</div>

<script>
    // Obtenha referências para os campos de entrada
    const payerFirstNameInput = document.getElementById('form-checkout__payerFirstName');
    const payerLastNameInput = document.getElementById('form-checkout__payerLastName');
    const emailInput = document.getElementById('form-checkout__email');
    const telefoneInput = document.getElementById('form-checkout__telefone');
    const identificationNumberInput = document.getElementById('form-checkout__identificationNumber');
    const btnPagar = document.getElementById('btnPagar');

    // Ouvinte de eventos para campos de entrada
    payerFirstNameInput.addEventListener('input', checkFields);
    payerLastNameInput.addEventListener('input', checkFields);
    emailInput.addEventListener('input', checkFields);
    telefoneInput.addEventListener('input', checkFields);
    identificationNumberInput.addEventListener('input', checkFields);

    function checkFields() {
        // Verifique se todos os campos necessários estão preenchidos
        if (
            payerFirstNameInput.value &&
            payerLastNameInput.value &&
            emailInput.value &&
            telefoneInput.value &&
            identificationNumberInput.value
        ) {
            // Tornar o botão "Pagar" visível e claro
            btnPagar.style.display = 'block';
            btnPagar.style.backgroundColor = '#4CAF50'; /* Cor clara desejada */
        } else {
            // Manter o botão "Pagar" escuro
            btnPagar.style.display = 'none';
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Obtenha a string de consulta da URL, que contém os números selecionados
        const queryString = window.location.search;

        // Analise a string de consulta para obter os parâmetros, neste caso, 'numeros'
        const urlParams = new URLSearchParams(queryString);

        // Obtenha os números selecionados da URL
        const idRifa = urlParams.get('id_rifa');
        const numerosSelecionados = urlParams.get('numeros');

        // Agora, 'numerosSelecionados' contém a lista de números selecionados separados por vírgula
        console.log("Números selecionados na página de pagamento: " + numerosSelecionados);

        // Obtenha o elemento de exibição dos números selecionados
        const idRifaDisplay = document.getElementById('id-rifa-display');
        const numerosSelecionadosDisplay = document.getElementById('numeros-selecionados-display');

        // Exiba o id e números selecionados na página
        idRifaDisplay.textContent = "ID Rifa: " + idRifa;
        numerosSelecionadosDisplay.textContent = "Números Selecionados: " + numerosSelecionados;

        // Preencha os campos ocultos com os valores obtidos da URL
        document.getElementById('id_rifa_hidden').value = idRifa;
        document.getElementById('numeros_hidden').value = numerosSelecionados;
    });
</script>

</body>
</html>
