<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Página de Rifa</title>
</head>
<body>
<header class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="#"><img src="/images/logo.png" alt="Logo"></a>
        </div>
        <div class="menu">
            <a href="index">Início</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Digite o número do celular">
            <button class="text-xs font-medium sm:text-base flex-none border bg-white max-w-max border-Black-100 rounded-lg px-3 py-1"> 🔎 Buscar bilhetes </button>
        </div>
    </nav>
</header>

<script src="https://sdk.mercadopago.com/js/v2"></script>

<script>
    const mp = new MercadoPago("APP_USR-5579030860678637-101022-182436c107f980c52a171e0f27fd930c-202843783");
</script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form id="form-checkout" action="/process_payment" method="post">
    <div>
        <div>
            <label for="payerFirstName">Nome</label>
            <input id="form-checkout__payerFirstName" name="payerFirstName" type="text">
        </div>
        <div>
            <label for="payerLastName">Sobrenome</label>
            <input id="form-checkout__payerLastName" name="payerLastName" type="text">
        </div>
        <div>
            <label for="email">E-mail</label>
            <input id="form-checkout__email" name="email" type="text">
        </div>
        <div>
            <label for="identificationType">Tipo de documento</label>
            <select id="form-checkout__identificationType" name="identificationType" type="text"></select>
        </div>
        <div>
            <label for="identificationNumber">Número do documento</label>
            <input id="form-checkout__identificationNumber" name="identificationNumber" type="text">
        </div>
    </div>

    <div>
        <div>
            <input type="hidden" name="transactionAmount" id="transactionAmount" value="100">
            <input type="hidden" name="description" id="description" value="Nome do Produto">
            <br>
            <button type="submit">Pagar</button>
        </div>
    </div>
</form>

<script>
(async function getIdentificationTypes() {
try {
const identificationTypes = await mp.getIdentificationTypes();
const identificationTypeElement = document.getElementById('form-checkout__identificationType');

createSelectOptions(identificationTypeElement, identificationTypes);
} catch (e) {
return console.error('Error getting identificationTypes: ', e);
}
})();

function createSelectOptions(elem, options, labelsAndKeys = { label: "name", value: "id" }) {
const { label, value } = labelsAndKeys;

elem.options.length = 0;

const tempOptions = document.createDocumentFragment();

options.forEach(option => {
const optValue = option[value];
const optLabel = option[label];

const opt = document.createElement('option');
opt.value = optValue;
opt.textContent = optLabel;

tempOptions.appendChild(opt);
});

elem.appendChild(tempOptions);
}
</script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="footer">
    <p>&copy; 2023 - Sistema de Financiamento Coletivo - Todos os direitos reservados</p>
</div>
</body>
</html>
