<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Página de Rifa</title>
    <style>
        /* Estilo para números selecionáveis */
        .numero-selecionavel {
            cursor: pointer;
        }
        .numero-selecionavel.selected {
            background-color: orange;
        }
    </style>
</head>
<body>
<header class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="#"><img src="/images/logo.png" alt="Logo"></a>
        </div>
        <div class="menu">
            <a href="index">Início</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Digite o número do celular">
            <button class="text-xs font-medium sm:text-base flex-none border bg-white max-w-max border-Black-100 rounded-lg px-3 py-1"> 🔎 Buscar bilhetes </button>
        </div>
    </nav>
</header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="rifa-selection">
    <p><b>🔎Selecione uma rifa</b></p>
    <hr>
    <select id="rifasSelect">
        <option value="">Selecione uma rifa</option>
        <!-- Usando Thymeleaf para iterar sobre os códigos de rifa e criar as opções -->
        <option th:each="codigoRifa : ${codigosRifa}" th:value="${codigoRifa}" th:text="${codigoRifa}"></option>
    </select>
</div>

<br>
<br>
<br>

<div class="main-section">
    <div class="left-column">

        <p class="rifa-title">Descrição da Rifa</p>

        <div class="prize-rectangle">
            <div class="prize-image">
                <img src="/images/premio.png" alt="Prêmio">
            </div>
        </div>
    </div>

    <div class="right-column">
        <!-- Três retângulos para informações -->
        <div class="info-rectangle-1">
            <p>Preço da Rifa</p>
            <p th:text="${rifa.preco}"></p>
        </div>

        <div class="info-rectangle-2">
            <p>Sorteio: Loteria Federal</p>
        </div>

        <div class="info-rectangle-3">
            <p>Prêmio</p>
            <p th:text="${rifa.premio}"></p>
        </div>
    </div>
</div>

<br>
<br>
<br>

<div class="description-column" style="text-align: justify;">
    <p><b>📕Regulamento / Descrição</b></p>
    <hr>
    <p th:text="${rifa.regulamento}"></p>
</div>

<h1 class="centered-title">Escolha um número</h1>

<table>
    <tbody id="numero-matrix">
    <!-- Os números serão preenchidos dinamicamente aqui usando JavaScript -->
    </tbody>
</table>

<script>
    // JavaScript em rifa.html
 document.addEventListener("DOMContentLoaded", function () {
     const rifaSelect = document.getElementById("rifasSelect");

     // Função para criar e preencher a matriz de números
     function createNumberMatrix() {
         const numeroMatrix = document.getElementById('numero-matrix');
         let numero = 1;
         for (let row = 0; row < 10; row++) {
             const newRow = document.createElement('tr');
             for (let col = 0; col < 15; col++) {
                 const newCell = document.createElement('td');
                 newCell.textContent = numero;
                 newCell.classList.add("numero-selecionavel"); // Adicione a classe "numero-selecionavel" aos números
                 newRow.appendChild(newCell);
                 numero++;
             }
             numeroMatrix.appendChild(newRow);
         }
     }

     // Adicione um ouvinte de evento de clique a todas as células da tabela
     const numeroMatrix = document.getElementById('numero-matrix');
     numeroMatrix.addEventListener("click", function (event) {
         const numeroSelecionavel = event.target;

         // Verifique se o elemento clicado possui a classe "numero-selecionavel"
         if (numeroSelecionavel.classList.contains("numero-selecionavel")) {
             // Alternar a classe "selected" quando uma célula é clicada
             numeroSelecionavel.classList.toggle("selected");
         }
     });

     // Chame a função para gerar a matriz de números quando a página for carregada
     createNumberMatrix();

     // Verifique se há um parâmetro 'id_rifa' na URL e defina o valor selecionado no combobox
     const urlParams = new URLSearchParams(window.location.search);
     const idRifa = urlParams.get("id_rifa");
     if (idRifa) {
         rifaSelect.value = idRifa;
     }

     // Adicione um ouvinte de evento ao combobox
     rifaSelect.addEventListener("change", function () {
         // Obtém o valor selecionado (o código da rifa)
         const selectedRifa = rifaSelect.value;

         // Atualiza a URL da página com o novo valor selecionado
         const currentUrl = window.location.href;
         const newUrl = updateQueryStringParameter(currentUrl, 'id_rifa', selectedRifa);
         window.location.href = newUrl;
     });
 });

 // Função auxiliar para atualizar parâmetros de consulta na URL
 function updateQueryStringParameter(uri, key, value) {
     const re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
     const separator = uri.indexOf('?') !== -1 ? "&" : "?";
     if (uri.match(re)) {
         return uri.replace(re, '$1' + key + "=" + value + '$2');
     }
     else {
         return uri + separator + key + "=" + value;
     }
 }

</script>

<h1 class="centered-title">💳💰 Formas de pagamentos</h1>
<div class="pix-rectangle">
    <div class="pix-image">
        <img src="/images/pix.png" alt="Pix">
    </div>
</div>

<br>
<br>
<br>

<div class="footer">
    <p>&copy; 2023 - Sistema de Financiamento Coletivo - Todos os direitos reservados</p>
</div>
</body>
</html>
